body {
 margin:0;
 padding: 0;
 box-sizing: border-box;
 background-color: #f6f9ff;
}

.bg-img {
 width: 100%;
 height: 100vh;
 background-image: url('https://images.unsplash.com/photo-1559827260-dc66d52bef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
 background-repeat: no-repeat;
 background-size: 110%;
 background-position: center;
 background-attachment: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
}

.bg-img h1{
 font-size: 50px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 900;
 color: #FFF;
 text-shadow: 0 1px 8px black;
 cursor: default;
}

.main-container {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 max-width: 100vw;
 background-color: #f6f9ff;
}

.main-container h1{
 text-align: center;
 margin-top: 60px;
 font-size: 50px;
 padding: 10px 20px;
 font-weight: 900;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.main-container img {
 max-width: 550px;
 margin: 30px;
 border-radius: 10px;
}

.card-container .card {
 display: flex;
 max-width: 1200px;
 justify-content: center;
 align-items: center;
 margin: 50px 0;
 border-radius: 5px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.card-container div:last-of-type {
 border: none;
}

.card .btn {
 border: none;
 padding: 15px 20px;
 margin: 20px 0;
 font-size: 16px;
 font-weight: bold;
 border-radius: 10px;
 color: white;
 background-color: #5c95ff;
 cursor: pointer;
 transition: all 0.5s;
}

.card .btn:hover{
 background-color: #5882cf;
}

.card h3 {
 font-size: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: bold;
 margin-top: 30px;
}

.card span {
 margin-right: 10px;
}

.card p{
 color: rgb(117, 117, 117);
 line-height: 25px;
 font-size: 16px;
}

.card a{
 color: black;
 text-decoration: none;
}


.card {
 padding: 30px;
}

@media (max-width: 987px) {
 .main-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

 .card-container{
  display: flex;
  flex-direction: column;
 }
 .card-container .card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
 }
 .main-container img {
  max-width: 500px;
 }
}